@tailwind base;
@tailwind components;
@tailwind utilities;

/* Smooth Scroll */
html {
  scroll-behavior: smooth;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #ff7a00;
  border-radius: 10px;
}

/* Selection Color */
::selection {
  background: #ff7a00;
  color: white;
}
